body{
    background-image: url(photo/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100%;
}
.orar{
    background-color: rgb(0, 104, 43);
    height: 50px;
    width: 250px;
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    cursor: pointer;
}
#orartext{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 5px;
}
#orartext:hover{
    color: black;
}
header{
    display: grid;
    grid-template-columns: 400px 100px;
    grid-column-gap: 400px;
}
.usarblogo{
    width: 100px;
    height: 100px;
}
.celltext{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 5px;
    text-decoration: none;
}
.celltext:hover{
    color: black;
}
.cell{
    height: 40px;
    width: 100px;
    background-color: rgb(0, 104, 43);
    text-align: center;
    cursor: pointer;
}
.cell2{
    height: 40px;
    width: 120px;
    background-color: rgb(0, 104, 43);
    text-align: center;
    cursor: pointer;
}
section{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 90px 110px 100px;
    grid-column-gap: 30px;
}